<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <!--头部-->
    <div class="header w ">
        <!--导航栏部分-->
        <div class="nav">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="list.html">奖牌总榜</a></li>
                <li><a href="map.html">奖牌地图</a></li>
                <li><a href="schedule.html">每日赛程</a></li>
            </ul>
        </div>
    </div>
    <div class="photo">
        <img src="images/jiesao.jpg" alt="无" width="1000px"/>
    </div>
    <div class="jiesao">举办背景</div>
    <div class="wenzi">第24届冬季奥林匹克运动会（XXIV Olympic Winter Games），简称2022年北京冬季奥运会，
        是由中国举办的国际性奥林匹克赛事，于2022年2月4日开幕，2月20日闭幕。2022年北京冬季奥运会共设7个大项，
        15个分项，109个小项 。北京赛区承办所有的冰上项目和自由式滑雪大跳台，延庆赛区承办雪车、
        雪橇及高山滑雪项目，张家口赛区承办除雪车、雪橇、高山滑雪和自由式滑雪大跳台之外的所有雪上项目。
    </div>
    <div class="jiesao">冬奥吉祥物</div>
    <div class="wenzi">冰墩墩（英文：Bing Dwen Dwen，汉语拼音：bīng dūn dūn），是2022年北京冬季奥运会的吉祥物。将熊猫形象与富有超能量的冰晶外壳相结合，头部外壳造型取自冰雪运动头盔，装饰彩色光环，整体形象酷似航天员。

        2018年8月8日，北京冬奥会和冬残奥会吉祥物全球征集启动仪式举行。2019年9月17日晚，冰墩墩正式亮相   。
        
        冰墩墩寓意创造非凡、探索未来，体现了追求卓越、引领时代，以及面向未来的无限可能。
    </div>
    <div class="photo">
        <img src="images/renwu.jpg" alt="无" width="1000px"/>
    </div>
</body>
</html>